<a href="https://colab.research.google.com/github/GrigorySamokhin/42Ecole.dslr/blob/master/dslr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import numpy as np
import pandas as pd
import csv

!git clone https://github.com/GrigorySamokhin/42Ecole.dslr

fatal: destination path '42Ecole.dslr' already exists and is not an empty directory.

In [0]:
train = pd.read_csv('/content/42Ecole.dslr/data/dataset_train.csv')
test = pd.read_csv('/content/42Ecole.dslr/data/dataset_test.csv')

(1600, 19)

In [7]:
train.isnull().sum()

Index                             0
Hogwarts House                    0
First Name                        0
Last Name                         0
Birthday                          0
Best Hand                         0
Arithmancy                       34
Astronomy                        32
Herbology                        33
Defense Against the Dark Arts    31
Divination                       39
Muggle Studies                   35
Ancient Runes                    35
History of Magic                 43
Transfiguration                  34
Potions                          30
Care of Magical Creatures        40
Charms                            0
Flying                            0
dtype: int64

In [9]:
list_numeric =

            Index     Arithmancy  ...       Charms       Flying
count  1600.00000    1566.000000  ...  1600.000000  1600.000000
mean    799.50000   49634.570243  ...  -243.374409    21.958012
std     462.02453   16679.806036  ...     8.783640    97.631602
min       0.00000  -24370.000000  ...  -261.048920  -181.470000
25%     399.75000   38511.500000  ...  -250.652600   -41.870000
50%     799.50000   49013.500000  ...  -244.867765    -2.515000
75%    1199.25000   60811.250000  ...  -232.552305    50.560000
max    1599.00000  104956.000000  ...  -225.428140   279.070000

[8 rows x 14 columns]

In [0]:
data_set = []

with open('/content/42Ecole.dslr/data/dataset_train.csv', 'r') as csvfile:
    csv_reader = csv.reader(csvfile, delimiter=',')
    for row in csv_reader:
        data_set += [row]

In [106]:
data_set[0]

['Index',
 'Hogwarts House',
 'First Name',
 'Last Name',
 'Birthday',
 'Best Hand',
 'Arithmancy',
 'Astronomy',
 'Herbology',
 'Defense Against the Dark Arts',
 'Divination',
 'Muggle Studies',
 'Ancient Runes',
 'History of Magic',
 'Transfiguration',
 'Potions',
 'Care of Magical Creatures',
 'Charms',
 'Flying']

In [133]:
n_features = len(data_set[0])
numeric_features = []

# Get indexes of numeric fetures
for i in range(n_features):
    try:
        # if we can read as float add index of features
        fl = float(data_set[1][i])
        numeric_features.append(i)
    except:
        # pass this features if cant
        pass
# we dont need index column
#numeric_features = numeric_features[1:]
start_index = numeric_features[1]
numeric_features

[0, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [134]:
data_set = np.array(data_set)
np.array(data_set[2, numeric_features], dtype=float)

array([ 1.00000000e+00,  6.72390000e+04, -5.52060507e+02, -5.98744578e+00,
        5.52060507e+00, -5.61200000e+00, -4.87340557e+02,  3.67760303e+02,
        4.10717029e+00,  1.05894459e+03,  7.24874198e+00,  9.16741839e-02,
       -2.52184250e+02, -1.13450000e+02])

In [0]:
# get numeric dataset

dataset_num = []
index = 0
dataset_len = len(data_set)

for i in range(1, dataset_len):
    dataset_num.append(np.array(data_set[1, numeric_features], dtype=float))

In [136]:
len(dataset_num[0])

14

In [137]:
train.describe()

            Index     Arithmancy  ...       Charms       Flying
count  1600.00000    1566.000000  ...  1600.000000  1600.000000
mean    799.50000   49634.570243  ...  -243.374409    21.958012
std     462.02453   16679.806036  ...     8.783640    97.631602
min       0.00000  -24370.000000  ...  -261.048920  -181.470000
25%     399.75000   38511.500000  ...  -250.652600   -41.870000
50%     799.50000   49013.500000  ...  -244.867765    -2.515000
75%    1199.25000   60811.250000  ...  -232.552305    50.560000
max    1599.00000  104956.000000  ...  -225.428140   279.070000

[8 rows x 14 columns]